
{% include 'main/side_navbar.html' %}
<header>
	{% load static %}
    <link rel="stylesheet" href="{% static 'profile_styles.css' %}">
	<style>
        .profile-pic-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
    

	<div class="container">

		<div class="profile">

			<div class="profile-pic-wrapper">
                {% load static %}
                <img id="profile-pic-preview" class="profile-pic" src="{% if user_profile.photo %}{{ user_profile.photo.url }}{% else %}{% static 'default_profile_pic.jpg' %}{% endif %}" alt="Profile Picture Preview">
            </div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
				<button class="btn profile-edit-btn" onclick="location.href='/edit_profile'">Edit Profile</button>
			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name"></span>{{user_profile.bio}}</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">
			{% for post in posts %}
			<div class="gallery-item" tabindex="0">
				<a href="/post/{{ post.id }}">
					<img src="{{ post.pic.url }}" class="gallery-image" alt="">
				</a>
				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
					</ul>

				</div>

			</div>
			{% endfor %}
		
		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>