body {
    background-color: #FAF9F6;
    overflow-y: hidden; /* Hide horizontal overflow */

}

.insta_image .image{
    height: 90%;

}

.container{
    display: flex;
}

.register{
    background-color: white;
    position: relative;
    left: 13rem;
    top: 1rem;
    text-align: center;
    height: 32.1rem;
    border: 1px solid #ad9e9e;
}
.login{
    background-color: white;
    position: relative;
    left: 25rem;
    top: 2rem;
    text-align: center;
    height: 25rem;
    border: 1px solid #ad9e9e;
}
.insta_image{
    position: relative;
    left:  10rem;
}

.insta-title h1{
    font-family: "Lobster Two", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 3rem;
}

.insta-line{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #9d9191; 
    line-height: 0.2; 
    margin-bottom: 0;
}

.info {
    background-color: white;
    width: 350px;
    padding: 20px 40px;
    box-sizing: border-box;
}

.info input[type="text"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.info input[type="password"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.info input[type="submit"] {
    width: 100%;
    padding: 9px;
    background-color: #3897f0;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
}

.info input[type="text"]::before {
    background-color: #d6d1d1; /* Adjust this to the shade of grey you want */
}

.terms{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #9d9191; 
    line-height: 0.2; 
    margin-bottom: 0;
    margin-top: 0;
}

.login-re{
    margin-top: 5%;
    border: 1px solid #ad9e9e;
    background-color: white;
}

.reg-re{
    margin-top: 25%;
    border: 1px solid #ad9e9e;
    background-color: white;
}

